<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>fsz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <p>fsz by <a href="https://github.com/icebox246">icebox246</a></p>
    <main>
        <ul class="options-container">
            <li class="options-item"><a href="/f/" class="button">files</a> - browse files</li>
        </ul>
    </main>
</body>
</html>
