@font-face {
  font-family: "monogram";
  src: url("/static/monogram.ttf");
}

:root {
    --bright: #e7ffee;
    --accent: #eda031;
    --dark: #272946;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bright: #272946;
        --accent: #eda031;
        --dark: #e7ffee;
    }
}

*, input, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-weight: normal;
    font-family: "monogram", monospace;
    font-size: 24pt;
}

a {
    color: var(--accent);
}

body {
    background: var(--bright);
}

main {
    padding: 1em;
}

nav {
    position: sticky;
    top: 0;
    background: var(--bright);
    display: flex;
    align-items: center;
    padding: 0.05em;
    border-bottom: 2px var(--dark) solid;
}

[x-current-dir="."].listing-item.listing-item-back {
    display: none;
}

.listing-container {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.listing-item {
    display: flex;
    width: 100%;
    justify-content: stretch;
}

.listing-link {
    flex: 1;
}

.button {
    padding: 0.3em;
    margin: 0.05em;
    text-decoration: none;
    background: none;
    cursor: pointer;

    border: var(--dark) 2px solid;
    color: var(--dark);

    transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
}

.button:hover {
    border-color: var(--accent);
    color: var(--accent);
}

.options-container {
    display: flex;
    flex-direction: column;
}

.options-item {
    display: flex;
    align-items: center;
}

dialog {
    padding: 1em;
    margin: auto;
    border: 2px solid var(--dark);
    background: var(--bright);
}

#upload-error {
    color: var(--accent);
}

#upload-file-selector {
    opacity: 0;
    width: 0;
    height: 0;
}

#upload-form {
    display: flex;
    flex-direction: column;
}

#upload-file-path-selector:focus {
    outline: none;
    border: var(--accent) 2px solid;
    color: var(--accent);
}

#upload-status {
    position: fixed;
    bottom: 0;
    background: var(--bright);
    padding: 0.5em;
    border-top: 2px var(--dark) solid;
    width: 100%;
}

#upload-status.error {
    color: var(--accent);
}

.icon-f::before {
    content: "ff";
    display: inline-block;
    background-image: url("/static/icons_file.webp");
    background-size: 0.75em;
    background-position: bottom;
    image-rendering: pixelated;
    color: transparent;
}

.icon-d::before {
    content: "ff";
    display: inline-block;
    background-image: url("/static/icons_folder.webp");
    background-size: 0.75em;
    background-position: bottom;
    image-rendering: pixelated;
    color: transparent;
}

.icon-t::before {
    content: "ff";
    display: inline-block;
    background-image: url("/static/icons_trash.webp");
    background-size: 0.75em;
    background-position: bottom;
    image-rendering: pixelated;
    color: transparent;
}
